body{
    background-color: #313131;
    color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-decoration: none;
    width: 100vw;
    
}

a{
    color: #ffc400;
    text-decoration: none;
}
a:hover{
    color:#ff3815
}

input{
    border: 2px solid #e9ab00;
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0;
}

.botao{
    background-color: #313131;     
    color: #f0f0f0;                 
    border: 2px solid #ffc400;      
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transition: transform 0.3s;
    width: max-content;
    text-decoration: none;
    display: inline-block;
}

.botao:hover{
    background-color: #ffc400;
    color: #313131;
    box-shadow: 0 4px 12px rgba(255, 196, 0, 0.4);
    transform: scale(1.1);
}


.insta{
    transition: transform 0.3s;
}

.insta:hover{
    transform: scale(1.2);
}

header{
    background-color: rgb(131, 0, 0);
    min-height: 100px;
}

header a{
    color: rgb(204, 204, 204);

}

nav{
    background-color: #1d1d1d;
}

nav a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    width: 14%;
}

footer{
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    font-size: 18px;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
}

footer p{
    width: 20%;
}
footer a{
    width: 20%;
}

h1{
    text-decoration: none;
}

.botao a{
    color: inherit;
}


.game{
    border: 3px solid black;
    border-radius: 20px;
    width: 20%;
    padding: 0 5px;
    margin-bottom: 30px;
}

@media (max-width: 700px){
    .game{
        width: 40%;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    footer p, footer a{
        width: 40%;
    }
}